body {
  margin: 2%;
  padding: 5%;
  color: #fff;
  background-color: #444654;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: Brush Script MT, cursive;
  color: rgb(8, 8, 15);
  padding-left: 20%;
}

h4 {
  margin-right: 5%;
}

#container {
  width: 100%;
}

#score-heading {
  width: 100%;
}

#score-ul {
  border: 1px solid #f3f3;
  min-width: 15rem;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2%;
  padding-right: 5%;
}

li:nth-child(even) {
  background-color: #f0bcbc;
}

li:nth-child(odd) {
  background-color: #fff;
}

#score-ul li {
  list-style-type: none;
  width: 100%;
  color: #020202;
  padding: 2%;
}

#add-scores {
  align-items: flex-start;
  justify-content: space-around;
}

input {
  padding: 2%;
  margin-bottom: 5%;
}

#refresh,
#submit {
  border-radius: 5%;
  box-shadow: 4px -3px teal;
}

#submit {
  align-self: flex-end;
}

label {
  color: #fff;
}

#temp-text {
  text-align: center;
  font-weight: 100;
  text-decoration: wavy;
  width: 100%;
}
